/node_modules
.nx/installation
.nx/cache

# Next.js
.next


# Nestjs
dist/
backend/.env



# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json